
html, body {
  margin: 0;
}

.main {
  background-color: white;
  display: flex;
  flex-flow: column;
  margin: 0;
  height: 100vh;
}

.header {
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
  justify-content: space-between;
  padding-left: 130px;
  padding-right: 68px;
  padding-top: 1%;
  align-items: flex-start;
}

#header-logo {
  font-weight: bold;
}

.footer {
  color: white;
  padding: 1%;
  text-align: center;
}

.links {
  display: flex;
  flex-flow: row;
  gap: 16px;
}


.header,
.hero,
.footer {
  background-color: #1F2937;
}

.hero-left {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 50%;
}

.button {
  background-color: #3882F6;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
}


.hero-right {
  display: flex;
  width: 500px;
  height: 200px;
  background-color: grey;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  flex-basis: 50%;
}

.hero {
  color: #F9FAF8;
  display: flex;
  justify-content: space-between;
  padding: 96px;
}

#hero-text {
  font-size: 48px;
  font-weight: bolder;
}

.hero-secondary,
.links {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-secondary {
  flex-wrap: wrap;
}

.information {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 2%;
}

#info-header {
  font-size: 36px;
  font-weight: bold;
}

.infos {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
}

.info-box {
  color: white;
  border: #3882F6;
  border-style: solid;
  border-radius: 10px;
  padding: 50%;
}


.quote {
  background-color: #E5E7EB;
  display: flex;
  padding: 100px 520px;
  flex-flow: column;
  font-size: 36px;
  align-items: center;
}

#quote-text {
  font-style: italic;
  min-width: 500px;
}

#quote-by {
  font-weight: bold;
  align-self: flex-end;
  font-size: 30px;
  min-width: 300px;
}

.advert {
  display: flex;
  flex: 1;
  background-color: #3882F6;
  color: white;
  padding: 2.5%;
  justify-content: space-around;
  margin: 4% 12%;
}

.a-text {
  background-color: #3882F6;
  display: flex;
  flex-direction: column;
}

.a-button {
  color: white;
  border: white;
  border-style: solid;
  border-radius: 10px;
  padding: 1.5% 5%;
}
